{% extends 'blog_app/main.html' %}
{% block content %}

<nav>
    <a href="{% url 'list-userblog' %}">Go Back</a>
    {% if request.user.username %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'postblog' %}">Create a Blog</a>
    <a href="{% url 'deleteblog' blog.id %}">Delete this blog</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
</nav>

<div class="header">
    <h2>{{blog.title}}</h2>
</div>
<div class="details">
    <p> Posted at {{blog.created_at}}</p>
    <p> -by {{blog.owner}}</p>

</div>
<div class="blog">
    {{blog.blog}}

</div>
<h4>Comments</h4>
{% for comment in comments %}
<div class="comments">
    <p>{{comment.comment}}</p>
    <p style="justify-content: right;display:flex;"> -commented by {{comment.owner}}</p>
    
</div>
{% endfor %}

<form class="commentform" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="comment">
</form>

{% endblock content %}